/*
*   CSS file for generic styles such as paddings, margins, height, and width
*/

/* paddings */
.padding-8 {
    padding: 8px;
}

.padding-16 {
    padding: 16px;
}

.padding-24 {
    padding: 24px;
}


/* margins */
.my-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.my-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.my-30 {
    margin-top: 30px;
    margin-bottom: 30px;
}